body{
    font-family: 'Merienda One'
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.section {
    padding-inline-start: 100px;
    &__article {
        font-size: 20px;
    }
}
