main {
    background-color:cornsilk;
    min-height: 700px;

    h2 {
        color: #F09B07;
        font-family: 'Merienda One', sans-serif, cursive;
    }

}

.aside {
    background-color:darkgrey;
}

.aside__item {
    font-style: italic;
    font-size: medium;
}

