main {
    background-color:cornsilk;
    min-height: 700px;

    h2 {
        min-height: 100px;
        color: #F09B07;
        font-family: 'Merienda One', sans-serif, cursive;
        font-size: 50px;
        text-align: center;
    }

}

.mapa {
    width: 100%;
    padding-bottom: 30px;
}

