.article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;

    img {
        width: 250px;
        height: 200px;
    }

    &__item {
        background-color: burlywood;

        &--align {
            text-align: center;
        }
    }
}

