.tabla {
    color: #F09B07;
    font-family: 'Merienda One', sans-serif, cursive;
    text-align: justify;
    font-size: 35px;

    &__th {
        text-transform: uppercase;
        padding-inline-end: 50px;
        padding-inline-start: 50px;
    }

    &__tr--size {
        padding-inline-end: 50px;
        padding-inline-start: 50px;
    }
}

.servicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 500px;
    padding-top: 100px;

    :hover {
        transform: scale(2, 2);
    }

    &__video {
        height: 300px;
        width: 500px;
    }
}
